body{
    font-family: 'Kantumruy Pro', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0%;
}

/* section 1 */

div.img{
    position: relative;
}
.donate-text{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0.473);
    border-radius: 20px;
    box-shadow: 1px 1px 10px black;
}
.donate-text h1{
    font-size: 50px;
    font-weight: 900;
}
.donate-text h4{
    font-size: 20px;
    word-spacing: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.donate-text a{
    text-decoration: none;
    background-color: #FF5959;
    box-shadow: 0.1px 0.1px 4px black;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-shadow: 1px 1px 5px black;
}

/* section 2 (Donation Ammount) */

.donate-today{
    margin-top: 50px;
    text-align: center;
}
.donate-today h1{
    font-size: 30px;
}
.donate-today p{
    word-spacing: 10px;
    letter-spacing: 1px;
}
#amount{
    display: flex;
    justify-content: center;
    text-align: center;
}
.tk{
    background-color: #7c6c6c28;
    border-radius: 5px;
    color: #FF5959;
    font-size: 30px;
    font-weight: 900;
    width: 10%;
    height: 10%;
    margin: 10px 10px;
}
.custom{
    text-align: center;
}
.custom input{
    margin-bottom: 40px;
}
.custom a{
    text-decoration: none;
    background-color: #FF5959;
    box-shadow: 0.1px 0.1px 4px black;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    text-shadow: 1px 1px 5px black;
}

/* section 3 (Donation Type)*/

.d-plan{
    text-align: center;
    margin-top: 100px;
    word-spacing: 10px;
    letter-spacing: 1px;
}
.d-plan h1{
    font-size: 30px;
}
.types{
    display: flex;
}
.plan{
    width: 1000%;
    background-color: #FFF4D6;
    margin: 20px;
    padding: 50px 20px;
}

/* section 4 (Success)*/

